__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
.venv/
venv/
.env
.pytest_cache/
.mypy_cache/
downloads/**
!downloads/.gitkeep
fiel/**
!fiel/.gitkeep
*.cer
*.key
*.pfx
*.p12
.DS_Store
*.zip
state/**
!state/.gitkeep
*.json.bak
